body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background: linear-gradient(-45deg, #ff9a9e, #fad0c4, #a18cd1, #fbc2eb, #8ec5fc, #e0c3fc, #a1c4fd, #c2e9fb);
    background-size: 300% 300%;
    animation: gradientAnimation 15s ease infinite;
    transition: background 0.5s ease-in-out;
}

@keyframes gradientAnimation {
    0% {background-position:0% 50%;}
    50% {background-position:100% 50%;}
    100% {background-position:0% 50%;}
}

#library {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 16px;
}

.book-card {
  border: 1px solid #ccc;
  padding: 16px;
  border-radius: 8px;
}

.book-card h3 {
  margin-top: 0;
}

.book-card p {
  margin: 8px 0;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    padding-bottom: 20px;
    padding-top: 10px;
    border-bottom: 2px solid #ccc;
    font-size: 40px;
    font-weight: bold;
    color: #333;
}

#book-form {
    margin-bottom: 30px;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
}

#book-form label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #555;
}

#book-form input[type="text"],
#book-form input[type="number"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#book-form input[type="checkbox"] {
    margin-right: 10px;
}

#book-form button {
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.addBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

#book-form button:hover {
    background-color: #1c3522;
}

.book-card {
    margin-top: 20px;
    background-color: #a18cd1;
    box-shadow: #333 0px 4px 6px;
}

#library {
    margin-top: 20px;
    padding-bottom: 10px;
}

