body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color:bisque;
}


#library {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 16px;
}

.book-card {
  border: 1px solid #ccc;
  padding: 16px;
  border-radius: 8px;
}

.book-card h3 {
  margin-top: 0;
}

.book-card p {
  margin: 8px 0;
}

